*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Roboto, sans-serif; 
    background-color: #f3f3f3;
}

header, footer, a{
    background-color: #222222;
    color: #f3f3f3;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
}

header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 51;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

a:hover{
    color: #cccccc;
    text-decoration: none;
}

.contenedor{
    display: flex;
    align-items: center;
}

.contenedor-logo img{
    margin-right: 10px;
}

.header-links a{
    position: absolute;
    margin-left: 13px;
    align-items: center;
    padding-top: 30px;
}

main{
    height: 50px;;
}

.oferta-delivery{
    position: absolute;
    border-radius: 5px;
    width: 490px;
    height: 350px;
    left: 19px;
    top: 135px;
}

.texto-rojo1{
    position: absolute;
    top: 13px;
    left: 53px;
    width: 350px;
    height: 28px;
    color: #FC200C;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px
}

.texto-blanco{
    position: absolute;
    color: #f3f3f3;
    top: 13px;
    left: 186px;
    width: 350px;
    height: 28px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.texto-rojo2{
    position: absolute;
    top: 13px;
    left: 313px;
    width: 350px;
    height: 28px;
    color: #FC200C;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px
}

.podio-pizzas{
    position: absolute;
    width: 491px;
    height: 350px;
    left: 514px;
    top: 135px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    flex-direction: column;
}

footer{
    position: relative;
    display: flex-box;
    height: auto;
    width: auto;
    bottom: 8px;
    top: 433px;
    height: 112px;
}

footer a {
    padding-bottom: 12px;
}

.logo-footer{
    position: absolute;
    left: 770px;
    bottom: 130px;
    top: 140px;

}

.contenedor-links-footer{
    position: relative;
    display: flex;
    flex-direction: column;
}
