header nav {
    position: absolute;
    left: 51rem;
    bottom: 76rem;
}

header nav ul{
    list-style: none;
    display: flex;
    left: 49rem;
    bottom: 75rem;
}

header h3 {
    height: 32px;
}