*{
    box-sizing: border-box;
    margin: 0px;
}

.top{
    background-color: rgb(34, 34, 34);
    color: white;
    height: 30px;
}

header article p{
    color: white;
    background-color: transparent;
    position: absolute;
    display: inline-block;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 16px;
    top: -1px;
    right: 512px;
    font-weight: 400;
    line-height: 12px;
}

header article span{
    font-size: 16px;
    text-align: right;
    padding-left: 1142px;
    padding-top: 5px;
    color: white;
    display: inline-block;
}

header nav{
    background-color:rgba(240, 168, 62, 1);
    color:white;
    position: absolute;
    text-decoration: none;  
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


header nav ul li{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    text-decoration: none;    
    list-style: none;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
}

a:hover{
    color: rgba(224, 224, 224, 0.8);
    text-decoration: none;
}

header nav ul{
    display: inline;
    color: white;
    padding-left: 671px;
    text-decoration: none;
}

.logo{
    position: absolute;
    height: 23px;
    width: 166.38px;
    left: 40px;
    top: 39px;
}

.Banner{
    background-image: url(/img/bowl.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.caja{
    position: absolute;
    width: 365px;
    height: 54px;
    left: 658px;
    top: 237px;
    background-color: white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    color: #3C2313;
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding-top: 22px;
    left: 740px;
    top: 303px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3C2313;
}

.boton{
    background-color: rgba(240, 168, 62, 1);
    color: white;
    padding-top: 10px;
    border-radius: 5px;
    position: relative;
    display:block;
    height: 49px;
    width: 141px;
    left: 767px;
    top: -164px;
    text-align: center;
    text-decoration: none;
}

.Patita{
    display: flexbox;
    position: absolute;
    width: 67px;
    height: 71px;
    top: 555px;
    left: 50%;
    right: 50%;
}

h1{
    display: flexbox;
    position: absolute;
    width: 586px;
    height: 47px;
    left: 382px;
    top: 636px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #3C2313;
    text-align: center;
}

.lista-main{
    position: absolute;
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    color: #bebebe;
    width: 286px;
    height: 18px;
    left: 500px;
    top: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.churrasquito{
    background-color: rgba(251, 250, 246, 1);
    display: block;
    position: relative;
    width: 265px;
    height: 268px;
    left: 95px;
    top: 158px;
}

.descr-churrasquito{
    display: inline-flex;
    color: #3C2313;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(251, 250, 246, 1);
}

.pesos-churrasquito{
    display: flex;
    justify-content: center;
    color: rgba(240, 168, 62, 1);
    background: rgba(251, 250, 246, 1);
    position: absolute;
    width: 38px;
    height: 20px;
    top: 299px;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.comedero-main{
    position: absolute;
    display: block;
    width: 38px;
    height: 20px;
    left: 487px;
    top: 734px;
    background-color: rgba(251, 250, 246, 1);

}

.descr-comedero{
    display: inline-flex;
    color: #3C2313;
    background-color: rgba(251, 250, 246, 1);
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
}

.pesos-comedero-main{
    color: rgba(240, 168, 62, 1);
    background: rgba(251, 250, 246, 1);
    position: absolute;
    width: 38px;
    height: 20px;
    top: 312px;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.huesito{
    position: absolute;
    display: block;
    width: 38px;
    height: 60px;
    left: 912px;
    top: 726px;
    padding-right: 20px;    
    background-color: rgba(251, 250, 246, 1);
}

.descr-huesito{
    display: inline-flex;
    color: #3C2313;
    background-color: rgba(251, 250, 246, 1);
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
}
.pesos-huesito{
    color: rgba(240, 168, 62, 1);
    background: rgba(251, 250, 246, 1);
    position: absolute;
    width: 38px;
    height: 20px;
    top: 311px;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.contactos{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 340px;
    height: 264px;
    left: 532px;
    top: 300px;
}

form input{
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    top: 40px;
}

.nombre{
    position: absolute;
    top: 40px;
    right: 90px;
}

.email{
    position: absolute;
    top: 90px;
    right: 90px;
}

.tel{
    position: absolute;
    top: 140px;
    right: 90px;
}
.reset{
    position: absolute;
    border-radius: 15px;
    background-color: #8A8787;
    border-bottom: #8A8787;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 110px;
    height: 34px;
    right: 287px;
    top: 219px;

}

.submit{
    position: absolute;
    border-radius: 15px;
    background-color: rgba(240, 168, 62, 1);
    border-bottom: rgba(240, 168, 62, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 110px;
    height: 34px;
    right: 162px;
    top: 219px;
}

section div h3{
    position: absolute;
    color: white;
    background-color: rgba(240, 168, 62, 1);
    height: 60px;
    width: 100%;
    top: 1542px;
    padding-left: 71px;
    padding-top: 20px;
}

.mensaje-volando{
    position: absolute;
    width: 42px;
    height: 29px;
    left: 12px;
    top: 1558px;
}

.barra-suscrip{
    position: absolute;
    width: 346px;
    height: 40px;
    left: 902px;
    top: 1551px;
}

footer{
    position: absolute;
    background-color: #3C2313;
    color: white;
    height: 301px;
    top: 1600px;
    width: 100%;
    text-align: center;
}

footer div section img{
    position: absolute;
    display: inline-block;
}

.localidad{
    width: 159px;
    height: 64px;
    left: 49px;
    top: 40px;
}
.telefono{
    width: 159px;
    height: 64px;
    left: 47px;
    top: 124px;
}

.correo{
    width: 233px;
    height: 65px;
    left: 44px;
    top: 204px;
}

.logo-footer{
    position: absolute;
    height: 37px;
    left: 900px;
    top: 137px;

}

article p {
    position: absolute;
    background-color: rgba(34, 34, 34, 1);
    text-align: center;
    color: white;
    width: 100%;
    height: 30px;
    top: 1900px;
}

@media(max-width: 460px){

    header section nav{
        width: 100%;
    }
    header article p{
        right: 125px;
    }
    header article span{
        padding-left: 354px;
    }
    header nav ul{
        display: flex;
        padding-left: 4px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .caja{
        display: flex;
        justify-content: center;
        left: 58px;
    }
    .texto1{
        left: 221px
    }
    .boton{
        left: 244px;
    }
    .Patita{
        display: flex;
        justify-content: center;
        left: 195px;        
    }
    h1{
        display: flex;
        justify-content: center;
        left: -63px;
    }
    .lista-main{
        left: 63px;
    }
    .churrasquito{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        left: 80px;
    }
    .pesos-churrasquito{
        left: 65px;
        width: 125px;
    }
    .comedero-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 223px;
        height: 20px;
        left: 80px;
        top: 1168px;
    }
    .descr-comedero{
        justify-content: space-around;
    }
    .pesos-comedero-main{
        width: 223px;
        top: 141px;
    }
    .huesito{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 248px;
        height: 60px;
        left: 80px;
        top: 1438px;
        padding-right: 20px;
    }
    .pesos-huesito{
        top: 187px;
    }
    section div h3{
        top: 2070px; 
        padding-left: 87px; 
        height: 131px;
    }
    .mensaje-volando{
        top: 2084px;
        left: 26px;
    }
    .barra-suscrip{
        width: 345px; 
        height: 40px; 
        left: 56px; 
        top: 2135px;
    }
    .contactos{
        left: 148px;
        top: 851px;
    }
    footer{
        top: 2200px;
    }
    .logo-footer{
        height: 19px;
        left: 157px;
        top: 6px;
    }
    article p{
        top: 2500px;
    }
}