header article{
    background-color: rgba(34, 34, 34, 1);
    color: white;
}

span{
    color: white;
}

header section nav ul li{
    color: white;
}

.navegador{
    background-color: 
    rgba(240, 168, 62, 1);
    color: white;
}
