header article{
    background-color: rgba(34, 34, 34, 1);
    color: white;
    height: 30px;
}
header article p{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
}

header article span{
    font-size: 16px;
    text-align: right;
    padding: 4px 0 4px 10px;
    color: white
}

header nav{
    background-color:rgba(240, 168, 62, 1);
    color:white;
    display: inline-block;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav li{
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    list-style: none;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
}

header nav ul{
    padding-left: 674px;
    display: inline;
    color: white;
}

.logo{
    position: absolute;
    height: 23px;
    width: 166.38px;
    left: 40px;
    top: 39px;
}

.Banner{
    background-image: url(/img/bowl.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.caja{
    position: absolute;
    width: 365px;
    height: 54px;
    left: 658px;
    top: 237px;
    background-color: white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    color: #3C2313;
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding-top: 22px;
    left: 740px;
    top: 303px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3C2313;
}